{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>

    <div class="post-grid">
        {{ range .Pages }}
        <article class="post-card">
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width:100%; border-radius:8px; margin-bottom:15px;">
            {{ end }}
            <span class="date">{{ .Params.categories }}</span>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
            <div class="project-tags">
                {{ range .Params.tags }}
                <span class="tag">#{{ . }}</span>
                {{ end }}
            </div>
        </article>
        {{ end }}
    </div>
</div>
{{ end }}